html, body{
    margin:0;
    background-color: #2F4F30;
    background-image: url('../background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.title{
    text-align: center;
    background-color: black;
    background-image: url('../background-2.jpg');
    color: white;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
}

.played-card{
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;
}

#player-cards, #house-cards{
    height: 250px;
}